@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300|Nanum+Gothic:400,700,800&subset=korean");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Titan+One");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
}

h2 {
  font-size: 6vw;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-big {
  margin-top: 3rem;
}

.swal2-container {
  z-index: 300000 !important;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

main {
  /*
  #section-about {
    background-color: #ededed;
    padding: 7rem 0 6.5rem 6rem;
    width: 66.66666%; // section-etc와 함께 100% 중 분배해서 가짐(그래야 width가 더 커서 아래로 내려가거나 하지 않고 계속 옆으로 보임)
    min-height: 42rem; // min-height는 최소 높이가 42rem이고, 더 커질 수 있다
    float: left;

    @include clearfix(); // float:left 자식 두개(words,photo)의 영역을 확보하기 위해
    // 화면 900~1200px
    @include mq('small-screen-1') {
        // @content;안의 자리에 "{}" 안의 코드가 들어옴
        width: 100%; // 하나하나가 100%를 다 차지해서 아래로 쌓이게 됨
    }
    @include mq('small-screen-2') {
        width: 100%;
        height: 54rem; // section 높이를 보기좋게 높임
        padding: 7rem 6rem 6.5rem 6rem;
    }
    @include mq('small-screen-3') {
        width: 100%;
        height: 60rem;
        padding: 7rem 6rem 6.5rem 6rem;
    }
  }
  */
}

main::after {
  content: '';
  display: block;
  clear: both;
}

.LOGO {
  cursor: pointer;
  font-size: 10vw;
  font-family: 'Titan One',cursive;
  font-weight: 700;
  background: linear-gradient(45deg, #002C5E, #1f9cfd, #a8d8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.Logo__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50vw;
  background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #002C5E, transparent);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 10vw;
  color: #d6eaff;
  text-shadow: 0 0 0.6rem #d6eaff, 0 0 1.5rem #002C5E, -0.2rem 0.1rem 1rem #002C5E, 0.2rem 0.1rem 1rem #002C5E, 0 -0.5rem 2rem #002C5E, 0 0.5rem 3rem #002C5E;
  -webkit-animation: shine 2s forwards, flicker 3s infinite;
          animation: shine 2s forwards, flicker 3s infinite;
}

.Logo__sign__fast-flicker {
  -webkit-animation: shine 2s forwards, blink 10s 1s infinite;
          animation: shine 2s forwards, blink 10s 1s infinite;
}

.Logo__sign__flicker {
  -webkit-animation: shine 2s forwards, blink 3s 2s infinite;
          animation: shine 2s forwards, blink 3s 2s infinite;
}

@-webkit-keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #d6eaff;
    text-shadow: 0 0 0.6rem #d6eaff, 0 0 1.5rem #002C5E, -0.2rem 0.1rem 1rem #002C5E, 0.2rem 0.1rem 1rem #002C5E, 0 -0.5rem 2rem #002C5E, 0 0.5rem 3rem #002C5E;
  }
  28%,
  33% {
    color: #002C5E;
    text-shadow: none;
  }
  82%,
  97% {
    color: #002C5E;
    text-shadow: none;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #d6eaff;
    text-shadow: 0 0 0.6rem #d6eaff, 0 0 1.5rem #002C5E, -0.2rem 0.1rem 1rem #002C5E, 0.2rem 0.1rem 1rem #002C5E, 0 -0.5rem 2rem #002C5E, 0 0.5rem 3rem #002C5E;
  }
  28%,
  33% {
    color: #002C5E;
    text-shadow: none;
  }
  82%,
  97% {
    color: #002C5E;
    text-shadow: none;
  }
}

@-webkit-keyframes shine {
  0% {
    color: #002C5E;
    text-shadow: none;
  }
  100% {
    color: #d6eaff;
    text-shadow: 0 0 0.6rem #d6eaff, 0 0 1.5rem #002C5E, -0.2rem 0.1rem 1rem #002C5E, 0.2rem 0.1rem 1rem #002C5E, 0 -0.5rem 2rem #002C5E, 0 0.5rem 3rem #002C5E;
  }
}

@keyframes shine {
  0% {
    color: #002C5E;
    text-shadow: none;
  }
  100% {
    color: #d6eaff;
    text-shadow: 0 0 0.6rem #d6eaff, 0 0 1.5rem #002C5E, -0.2rem 0.1rem 1rem #002C5E, 0.2rem 0.1rem 1rem #002C5E, 0 -0.5rem 2rem #002C5E, 0 0.5rem 3rem #002C5E;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

.container-fluid {
  margin: 5rem 0;
  background-color: #ececec;
}

.container-fluid__img-box {
  background-color: #002C5E;
  text-align: center;
}

.container-fluid__img-box img {
  width: 90%;
  margin: 1.5rem;
}

.container-fluid__add-box {
  height: 55px;
  font-style: italic;
}

.container-fluid__add-box-desc {
  font-size: 10px;
  margin: 1rem;
}

.container-fluid__add-box-login {
  font-weight: 800;
  margin: 1rem;
}

.container-fluid__car-info {
  width: 100%;
  padding: 1rem;
  background-color: #D9D9D9;
  height: 15rem;
}

.container-fluid__car-info th {
  color: #284B63;
  font-weight: 200;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.container-fluid__car-info td > span {
  display: inline-block;
  margin-left: 30px;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}

.box {
  padding: 1rem;
  margin: 4rem 0;
  background-color: #ececec;
}

.box__title {
  color: #002C5E;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem;
}

.box__subtitle {
  font-size: 1.9rem;
  margin: 1rem;
}

.newsItem {
  background-color: #D9D9D9;
  padding: 1rem;
  margin: 0.5rem;
}

.newsItem__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.newsItem__desc {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.newsItem__more {
  font-size: 1.5rem;
  display: inline-block;
  color: #474747;
  text-decoration: underline;
}

.card {
  position: relative;
  width: 260px;
  height: 360px;
  padding: 30px;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 3rem auto;
}

.card__title {
  font-size: 20px;
  margin: 1rem 0;
  font-weight: 650;
}

.card__details {
  font-size: 20px;
  position: absolute;
  color: red;
  bottom: 90px;
  left: 30px;
}

.card__buy-button {
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(to right, #4b6cb7, #182848);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  position: absolute;
  width: 290px;
  height: 180px;
  border-radius: 15%;
  right: -34%;
  bottom: -27%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card__buy-button:hover {
  width: 100%;
  right: 0%;
  border-radius: 0%;
}

.card__buy-button:hover__text {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.card__buy-button__text {
  text-shadow: 0 0 0;
  text-decoration: none;
  position: absolute;
  left: 8%;
  top: 17%;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card__buy-button__icon {
  margin-left: 0.5rem;
}

.imageupload-btn {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  background-color: #fff;
  width: 5rem;
  height: 4rem;
  position: fixed;
  right: 4rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-bg {
  background-image: radial-gradient(#002C5E, #1f9cfd);
  width: 5rem;
  height: 4rem;
  position: fixed;
  right: 4rem;
  z-index: 1000;
  border-radius: 2px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-checkbox:checked ~ .nav-bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav-icon {
  position: relative;
  margin-top: 2rem;
}

.nav-icon::before {
  top: -0.8rem;
}

.nav-icon::after {
  top: 0.8rem;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #002C5E;
  display: inline-block;
}

.nav-button:hover .nav-icon::before {
  top: -1rem;
}

.nav-button:hover .nav-icon::after {
  top: 1rem;
}

.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}

.nav-link:hover {
  color: #002C5E;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}

.carSearch {
  position: relative;
  top: 20vh;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .carSearch__descrip {
    text-align: center;
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .carSearch__descrip {
    text-align: center;
    font-size: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .carSearch__descrip {
    text-align: justify;
    font-size: 3.5rem;
  }
}

.camera-button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vh;
}

.zz-button {
  color: white;
  font-family: inherit;
  font-size: 32px;
  font-weight: bold;
  background-color: #002C5E;
  width: 250px;
  height: 70px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20% / 50%;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 750ms ease-in-out, font-size 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), background-color 750ms ease-in-out, width 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), height 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), border-radius 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
  transition: color 750ms ease-in-out, font-size 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), background-color 750ms ease-in-out, width 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), height 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), border-radius 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
}

.zz-button:after {
  content: '0%';
  font-size: 0;
  display: block;
  -webkit-transition: font-size 750ms ease-in-out;
  transition: font-size 750ms ease-in-out;
}

.zz-button.active {
  font-size: 18px;
  background-color: #1f9cfd;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.zz-button.active:after {
  font-size: 48px;
}

.zz-button-progress-done {
  color: transparent;
  background-color: #1f9cfd;
  position: relative;
}

.zz-button-progress-done:before {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
}

.zz-button:hover {
  background: #002C5E;
  background: -webkit-gradient(linear, left bottom, left top, from(#002C5E), to(#1f9cfd));
  background: linear-gradient(0deg, #002C5E 0%, #1f9cfd 100%);
}

.zz-button[zz-button-progress='0'] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#002C5E), color-stop(0%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 0%, #1f9cfd 0%);
}

.zz-button[zz-button-progress='0']:after {
  content: "0%";
}

.zz-button[zz-button-progress='1'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #002C5E), color-stop(1%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 1%, #1f9cfd 1%);
}

.zz-button[zz-button-progress='1']:after {
  content: "1%";
}

.zz-button[zz-button-progress='2'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #002C5E), color-stop(2%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 2%, #1f9cfd 2%);
}

.zz-button[zz-button-progress='2']:after {
  content: "2%";
}

.zz-button[zz-button-progress='3'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #002C5E), color-stop(3%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 3%, #1f9cfd 3%);
}

.zz-button[zz-button-progress='3']:after {
  content: "3%";
}

.zz-button[zz-button-progress='4'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(4%, #002C5E), color-stop(4%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 4%, #1f9cfd 4%);
}

.zz-button[zz-button-progress='4']:after {
  content: "4%";
}

.zz-button[zz-button-progress='5'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #002C5E), color-stop(5%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 5%, #1f9cfd 5%);
}

.zz-button[zz-button-progress='5']:after {
  content: "5%";
}

.zz-button[zz-button-progress='6'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(6%, #002C5E), color-stop(6%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 6%, #1f9cfd 6%);
}

.zz-button[zz-button-progress='6']:after {
  content: "6%";
}

.zz-button[zz-button-progress='7'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7%, #002C5E), color-stop(7%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 7%, #1f9cfd 7%);
}

.zz-button[zz-button-progress='7']:after {
  content: "7%";
}

.zz-button[zz-button-progress='8'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(8%, #002C5E), color-stop(8%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 8%, #1f9cfd 8%);
}

.zz-button[zz-button-progress='8']:after {
  content: "8%";
}

.zz-button[zz-button-progress='9'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(9%, #002C5E), color-stop(9%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 9%, #1f9cfd 9%);
}

.zz-button[zz-button-progress='9']:after {
  content: "9%";
}

.zz-button[zz-button-progress='10'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #002C5E), color-stop(10%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 10%, #1f9cfd 10%);
}

.zz-button[zz-button-progress='10']:after {
  content: "10%";
}

.zz-button[zz-button-progress='11'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(11%, #002C5E), color-stop(11%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 11%, #1f9cfd 11%);
}

.zz-button[zz-button-progress='11']:after {
  content: "11%";
}

.zz-button[zz-button-progress='12'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #002C5E), color-stop(12%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 12%, #1f9cfd 12%);
}

.zz-button[zz-button-progress='12']:after {
  content: "12%";
}

.zz-button[zz-button-progress='13'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #002C5E), color-stop(13%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 13%, #1f9cfd 13%);
}

.zz-button[zz-button-progress='13']:after {
  content: "13%";
}

.zz-button[zz-button-progress='14'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(14%, #002C5E), color-stop(14%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 14%, #1f9cfd 14%);
}

.zz-button[zz-button-progress='14']:after {
  content: "14%";
}

.zz-button[zz-button-progress='15'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #002C5E), color-stop(15%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 15%, #1f9cfd 15%);
}

.zz-button[zz-button-progress='15']:after {
  content: "15%";
}

.zz-button[zz-button-progress='16'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #002C5E), color-stop(16%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 16%, #1f9cfd 16%);
}

.zz-button[zz-button-progress='16']:after {
  content: "16%";
}

.zz-button[zz-button-progress='17'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #002C5E), color-stop(17%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 17%, #1f9cfd 17%);
}

.zz-button[zz-button-progress='17']:after {
  content: "17%";
}

.zz-button[zz-button-progress='18'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(18%, #002C5E), color-stop(18%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 18%, #1f9cfd 18%);
}

.zz-button[zz-button-progress='18']:after {
  content: "18%";
}

.zz-button[zz-button-progress='19'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #002C5E), color-stop(19%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 19%, #1f9cfd 19%);
}

.zz-button[zz-button-progress='19']:after {
  content: "19%";
}

.zz-button[zz-button-progress='20'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #002C5E), color-stop(20%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 20%, #1f9cfd 20%);
}

.zz-button[zz-button-progress='20']:after {
  content: "20%";
}

.zz-button[zz-button-progress='21'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(21%, #002C5E), color-stop(21%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 21%, #1f9cfd 21%);
}

.zz-button[zz-button-progress='21']:after {
  content: "21%";
}

.zz-button[zz-button-progress='22'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(22%, #002C5E), color-stop(22%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 22%, #1f9cfd 22%);
}

.zz-button[zz-button-progress='22']:after {
  content: "22%";
}

.zz-button[zz-button-progress='23'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(23%, #002C5E), color-stop(23%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 23%, #1f9cfd 23%);
}

.zz-button[zz-button-progress='23']:after {
  content: "23%";
}

.zz-button[zz-button-progress='24'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(24%, #002C5E), color-stop(24%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 24%, #1f9cfd 24%);
}

.zz-button[zz-button-progress='24']:after {
  content: "24%";
}

.zz-button[zz-button-progress='25'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #002C5E), color-stop(25%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 25%, #1f9cfd 25%);
}

.zz-button[zz-button-progress='25']:after {
  content: "25%";
}

.zz-button[zz-button-progress='26'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(26%, #002C5E), color-stop(26%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 26%, #1f9cfd 26%);
}

.zz-button[zz-button-progress='26']:after {
  content: "26%";
}

.zz-button[zz-button-progress='27'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(27%, #002C5E), color-stop(27%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 27%, #1f9cfd 27%);
}

.zz-button[zz-button-progress='27']:after {
  content: "27%";
}

.zz-button[zz-button-progress='28'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(28%, #002C5E), color-stop(28%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 28%, #1f9cfd 28%);
}

.zz-button[zz-button-progress='28']:after {
  content: "28%";
}

.zz-button[zz-button-progress='29'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(29%, #002C5E), color-stop(29%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 29%, #1f9cfd 29%);
}

.zz-button[zz-button-progress='29']:after {
  content: "29%";
}

.zz-button[zz-button-progress='30'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #002C5E), color-stop(30%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 30%, #1f9cfd 30%);
}

.zz-button[zz-button-progress='30']:after {
  content: "30%";
}

.zz-button[zz-button-progress='31'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(31%, #002C5E), color-stop(31%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 31%, #1f9cfd 31%);
}

.zz-button[zz-button-progress='31']:after {
  content: "31%";
}

.zz-button[zz-button-progress='32'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(32%, #002C5E), color-stop(32%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 32%, #1f9cfd 32%);
}

.zz-button[zz-button-progress='32']:after {
  content: "32%";
}

.zz-button[zz-button-progress='33'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(33%, #002C5E), color-stop(33%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 33%, #1f9cfd 33%);
}

.zz-button[zz-button-progress='33']:after {
  content: "33%";
}

.zz-button[zz-button-progress='34'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(34%, #002C5E), color-stop(34%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 34%, #1f9cfd 34%);
}

.zz-button[zz-button-progress='34']:after {
  content: "34%";
}

.zz-button[zz-button-progress='35'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #002C5E), color-stop(35%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 35%, #1f9cfd 35%);
}

.zz-button[zz-button-progress='35']:after {
  content: "35%";
}

.zz-button[zz-button-progress='36'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(36%, #002C5E), color-stop(36%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 36%, #1f9cfd 36%);
}

.zz-button[zz-button-progress='36']:after {
  content: "36%";
}

.zz-button[zz-button-progress='37'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(37%, #002C5E), color-stop(37%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 37%, #1f9cfd 37%);
}

.zz-button[zz-button-progress='37']:after {
  content: "37%";
}

.zz-button[zz-button-progress='38'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(38%, #002C5E), color-stop(38%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 38%, #1f9cfd 38%);
}

.zz-button[zz-button-progress='38']:after {
  content: "38%";
}

.zz-button[zz-button-progress='39'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(39%, #002C5E), color-stop(39%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 39%, #1f9cfd 39%);
}

.zz-button[zz-button-progress='39']:after {
  content: "39%";
}

.zz-button[zz-button-progress='40'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #002C5E), color-stop(40%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 40%, #1f9cfd 40%);
}

.zz-button[zz-button-progress='40']:after {
  content: "40%";
}

.zz-button[zz-button-progress='41'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(41%, #002C5E), color-stop(41%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 41%, #1f9cfd 41%);
}

.zz-button[zz-button-progress='41']:after {
  content: "41%";
}

.zz-button[zz-button-progress='42'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(42%, #002C5E), color-stop(42%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 42%, #1f9cfd 42%);
}

.zz-button[zz-button-progress='42']:after {
  content: "42%";
}

.zz-button[zz-button-progress='43'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(43%, #002C5E), color-stop(43%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 43%, #1f9cfd 43%);
}

.zz-button[zz-button-progress='43']:after {
  content: "43%";
}

.zz-button[zz-button-progress='44'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(44%, #002C5E), color-stop(44%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 44%, #1f9cfd 44%);
}

.zz-button[zz-button-progress='44']:after {
  content: "44%";
}

.zz-button[zz-button-progress='45'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #002C5E), color-stop(45%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 45%, #1f9cfd 45%);
}

.zz-button[zz-button-progress='45']:after {
  content: "45%";
}

.zz-button[zz-button-progress='46'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(46%, #002C5E), color-stop(46%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 46%, #1f9cfd 46%);
}

.zz-button[zz-button-progress='46']:after {
  content: "46%";
}

.zz-button[zz-button-progress='47'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(47%, #002C5E), color-stop(47%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 47%, #1f9cfd 47%);
}

.zz-button[zz-button-progress='47']:after {
  content: "47%";
}

.zz-button[zz-button-progress='48'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(48%, #002C5E), color-stop(48%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 48%, #1f9cfd 48%);
}

.zz-button[zz-button-progress='48']:after {
  content: "48%";
}

.zz-button[zz-button-progress='49'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #002C5E), color-stop(49%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 49%, #1f9cfd 49%);
}

.zz-button[zz-button-progress='49']:after {
  content: "49%";
}

.zz-button[zz-button-progress='50'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #002C5E), color-stop(50%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 50%, #1f9cfd 50%);
}

.zz-button[zz-button-progress='50']:after {
  content: "50%";
}

.zz-button[zz-button-progress='51'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(51%, #002C5E), color-stop(51%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 51%, #1f9cfd 51%);
}

.zz-button[zz-button-progress='51']:after {
  content: "51%";
}

.zz-button[zz-button-progress='52'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(52%, #002C5E), color-stop(52%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 52%, #1f9cfd 52%);
}

.zz-button[zz-button-progress='52']:after {
  content: "52%";
}

.zz-button[zz-button-progress='53'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(53%, #002C5E), color-stop(53%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 53%, #1f9cfd 53%);
}

.zz-button[zz-button-progress='53']:after {
  content: "53%";
}

.zz-button[zz-button-progress='54'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(54%, #002C5E), color-stop(54%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 54%, #1f9cfd 54%);
}

.zz-button[zz-button-progress='54']:after {
  content: "54%";
}

.zz-button[zz-button-progress='55'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #002C5E), color-stop(55%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 55%, #1f9cfd 55%);
}

.zz-button[zz-button-progress='55']:after {
  content: "55%";
}

.zz-button[zz-button-progress='56'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(56%, #002C5E), color-stop(56%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 56%, #1f9cfd 56%);
}

.zz-button[zz-button-progress='56']:after {
  content: "56%";
}

.zz-button[zz-button-progress='57'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(57%, #002C5E), color-stop(57%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 57%, #1f9cfd 57%);
}

.zz-button[zz-button-progress='57']:after {
  content: "57%";
}

.zz-button[zz-button-progress='58'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(58%, #002C5E), color-stop(58%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 58%, #1f9cfd 58%);
}

.zz-button[zz-button-progress='58']:after {
  content: "58%";
}

.zz-button[zz-button-progress='59'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(59%, #002C5E), color-stop(59%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 59%, #1f9cfd 59%);
}

.zz-button[zz-button-progress='59']:after {
  content: "59%";
}

.zz-button[zz-button-progress='60'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #002C5E), color-stop(60%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 60%, #1f9cfd 60%);
}

.zz-button[zz-button-progress='60']:after {
  content: "60%";
}

.zz-button[zz-button-progress='61'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(61%, #002C5E), color-stop(61%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 61%, #1f9cfd 61%);
}

.zz-button[zz-button-progress='61']:after {
  content: "61%";
}

.zz-button[zz-button-progress='62'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(62%, #002C5E), color-stop(62%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 62%, #1f9cfd 62%);
}

.zz-button[zz-button-progress='62']:after {
  content: "62%";
}

.zz-button[zz-button-progress='63'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(63%, #002C5E), color-stop(63%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 63%, #1f9cfd 63%);
}

.zz-button[zz-button-progress='63']:after {
  content: "63%";
}

.zz-button[zz-button-progress='64'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(64%, #002C5E), color-stop(64%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 64%, #1f9cfd 64%);
}

.zz-button[zz-button-progress='64']:after {
  content: "64%";
}

.zz-button[zz-button-progress='65'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, #002C5E), color-stop(65%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 65%, #1f9cfd 65%);
}

.zz-button[zz-button-progress='65']:after {
  content: "65%";
}

.zz-button[zz-button-progress='66'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(66%, #002C5E), color-stop(66%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 66%, #1f9cfd 66%);
}

.zz-button[zz-button-progress='66']:after {
  content: "66%";
}

.zz-button[zz-button-progress='67'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(67%, #002C5E), color-stop(67%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 67%, #1f9cfd 67%);
}

.zz-button[zz-button-progress='67']:after {
  content: "67%";
}

.zz-button[zz-button-progress='68'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(68%, #002C5E), color-stop(68%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 68%, #1f9cfd 68%);
}

.zz-button[zz-button-progress='68']:after {
  content: "68%";
}

.zz-button[zz-button-progress='69'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(69%, #002C5E), color-stop(69%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 69%, #1f9cfd 69%);
}

.zz-button[zz-button-progress='69']:after {
  content: "69%";
}

.zz-button[zz-button-progress='70'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #002C5E), color-stop(70%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 70%, #1f9cfd 70%);
}

.zz-button[zz-button-progress='70']:after {
  content: "70%";
}

.zz-button[zz-button-progress='71'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(71%, #002C5E), color-stop(71%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 71%, #1f9cfd 71%);
}

.zz-button[zz-button-progress='71']:after {
  content: "71%";
}

.zz-button[zz-button-progress='72'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(72%, #002C5E), color-stop(72%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 72%, #1f9cfd 72%);
}

.zz-button[zz-button-progress='72']:after {
  content: "72%";
}

.zz-button[zz-button-progress='73'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(73%, #002C5E), color-stop(73%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 73%, #1f9cfd 73%);
}

.zz-button[zz-button-progress='73']:after {
  content: "73%";
}

.zz-button[zz-button-progress='74'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(74%, #002C5E), color-stop(74%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 74%, #1f9cfd 74%);
}

.zz-button[zz-button-progress='74']:after {
  content: "74%";
}

.zz-button[zz-button-progress='75'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #002C5E), color-stop(75%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 75%, #1f9cfd 75%);
}

.zz-button[zz-button-progress='75']:after {
  content: "75%";
}

.zz-button[zz-button-progress='76'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(76%, #002C5E), color-stop(76%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 76%, #1f9cfd 76%);
}

.zz-button[zz-button-progress='76']:after {
  content: "76%";
}

.zz-button[zz-button-progress='77'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(77%, #002C5E), color-stop(77%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 77%, #1f9cfd 77%);
}

.zz-button[zz-button-progress='77']:after {
  content: "77%";
}

.zz-button[zz-button-progress='78'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(78%, #002C5E), color-stop(78%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 78%, #1f9cfd 78%);
}

.zz-button[zz-button-progress='78']:after {
  content: "78%";
}

.zz-button[zz-button-progress='79'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(79%, #002C5E), color-stop(79%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 79%, #1f9cfd 79%);
}

.zz-button[zz-button-progress='79']:after {
  content: "79%";
}

.zz-button[zz-button-progress='80'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #002C5E), color-stop(80%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 80%, #1f9cfd 80%);
}

.zz-button[zz-button-progress='80']:after {
  content: "80%";
}

.zz-button[zz-button-progress='81'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(81%, #002C5E), color-stop(81%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 81%, #1f9cfd 81%);
}

.zz-button[zz-button-progress='81']:after {
  content: "81%";
}

.zz-button[zz-button-progress='82'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(82%, #002C5E), color-stop(82%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 82%, #1f9cfd 82%);
}

.zz-button[zz-button-progress='82']:after {
  content: "82%";
}

.zz-button[zz-button-progress='83'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(83%, #002C5E), color-stop(83%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 83%, #1f9cfd 83%);
}

.zz-button[zz-button-progress='83']:after {
  content: "83%";
}

.zz-button[zz-button-progress='84'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(84%, #002C5E), color-stop(84%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 84%, #1f9cfd 84%);
}

.zz-button[zz-button-progress='84']:after {
  content: "84%";
}

.zz-button[zz-button-progress='85'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(85%, #002C5E), color-stop(85%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 85%, #1f9cfd 85%);
}

.zz-button[zz-button-progress='85']:after {
  content: "85%";
}

.zz-button[zz-button-progress='86'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(86%, #002C5E), color-stop(86%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 86%, #1f9cfd 86%);
}

.zz-button[zz-button-progress='86']:after {
  content: "86%";
}

.zz-button[zz-button-progress='87'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(87%, #002C5E), color-stop(87%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 87%, #1f9cfd 87%);
}

.zz-button[zz-button-progress='87']:after {
  content: "87%";
}

.zz-button[zz-button-progress='88'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(88%, #002C5E), color-stop(88%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 88%, #1f9cfd 88%);
}

.zz-button[zz-button-progress='88']:after {
  content: "88%";
}

.zz-button[zz-button-progress='89'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(89%, #002C5E), color-stop(89%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 89%, #1f9cfd 89%);
}

.zz-button[zz-button-progress='89']:after {
  content: "89%";
}

.zz-button[zz-button-progress='90'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, #002C5E), color-stop(90%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 90%, #1f9cfd 90%);
}

.zz-button[zz-button-progress='90']:after {
  content: "90%";
}

.zz-button[zz-button-progress='91'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(91%, #002C5E), color-stop(91%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 91%, #1f9cfd 91%);
}

.zz-button[zz-button-progress='91']:after {
  content: "91%";
}

.zz-button[zz-button-progress='92'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(92%, #002C5E), color-stop(92%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 92%, #1f9cfd 92%);
}

.zz-button[zz-button-progress='92']:after {
  content: "92%";
}

.zz-button[zz-button-progress='93'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(93%, #002C5E), color-stop(93%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 93%, #1f9cfd 93%);
}

.zz-button[zz-button-progress='93']:after {
  content: "93%";
}

.zz-button[zz-button-progress='94'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(94%, #002C5E), color-stop(94%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 94%, #1f9cfd 94%);
}

.zz-button[zz-button-progress='94']:after {
  content: "94%";
}

.zz-button[zz-button-progress='95'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(95%, #002C5E), color-stop(95%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 95%, #1f9cfd 95%);
}

.zz-button[zz-button-progress='95']:after {
  content: "95%";
}

.zz-button[zz-button-progress='96'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #002C5E), color-stop(96%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 96%, #1f9cfd 96%);
}

.zz-button[zz-button-progress='96']:after {
  content: "96%";
}

.zz-button[zz-button-progress='97'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(97%, #002C5E), color-stop(97%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 97%, #1f9cfd 97%);
}

.zz-button[zz-button-progress='97']:after {
  content: "97%";
}

.zz-button[zz-button-progress='98'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(98%, #002C5E), color-stop(98%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 98%, #1f9cfd 98%);
}

.zz-button[zz-button-progress='98']:after {
  content: "98%";
}

.zz-button[zz-button-progress='99'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(99%, #002C5E), color-stop(99%, #1f9cfd));
  background-image: linear-gradient(to top, #002C5E 99%, #1f9cfd 99%);
}

.zz-button[zz-button-progress='99']:after {
  content: "99%";
}

.zz-button[zz-button-progress='100'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #002C5E), to(#1f9cfd));
  background-image: linear-gradient(to top, #002C5E 100%, #1f9cfd 100%);
}

.zz-button[zz-button-progress='100']:after {
  content: "100%";
}

.zz-button[zz-button-progress='100'] {
  -webkit-animation: progress-done-pre 750ms ease-out;
          animation: progress-done-pre 750ms ease-out;
}

@-webkit-keyframes progress-done-pre {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes progress-done-pre {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.zz-button-progress-done.zz-button-progress-done-active:before {
  width: 50px;
  height: 20px;
  border: solid 10px white;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 35px;
  left: 100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: progress-done-post 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
          animation: progress-done-post 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
}

@-webkit-keyframes progress-done-post {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 20px;
  }
  100% {
    width: 50px;
    height: 20px;
  }
}

@keyframes progress-done-post {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 20px;
  }
  100% {
    width: 50px;
    height: 20px;
  }
}

.chart-container {
  position: relative;
  margin: auto;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .chart-container {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .chart-container {
    width: 100%;
    height: 50vh;
  }
}

@media screen and (max-width: 700px) {
  .chart-container {
    width: 100%;
    height: 60vh;
  }
}

.price__typo {
  color: #002C5E;
  font-size: 2.5rem;
  font-weight: bold;
}

.search {
  height: 35vh;
  width: 100%;
  padding: 0;
  position: relative;
}

.search:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35vh;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.search__text {
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  position: relative;
  font-family: emoji;
  top: 3vh;
}

.search__div {
  width: 90%;
  margin: auto;
  top: 2.5vh;
  background-color: #FFFFFFB3;
  min-height: 30vh;
  position: relative;
}

.search__container {
  text-align: center;
  position: relative;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__form {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 75vw;
}

.search__finder {
  top: 5vh;
  border: 1px solid #fff;
  background-color: #f6f5f0;
  border-radius: 15px;
  padding: 8px;
  -webkit-box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
          box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.search__finder__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  -webkit-box-shadow: inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #ffffff;
          box-shadow: inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #ffffff;
}

.search__finder__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search__finder__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(100% + 3rem);
}

.search__finder__input {
  height: calc(100% + 3rem);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
}

.search__finder__icon {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: inset 0 0 0 20px #292929;
          box-shadow: inset 0 0 0 20px #292929;
  border-radius: 50%;
  position: relative;
}

.search__finder__icon:after, .search__finder__icon:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search__finder__icon:after {
  width: 10px;
  height: 10px;
  background-color: #292929;
  border: 3px solid #f6f5f0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.active .search__finder__icon:after {
  border-width: 10px;
  background-color: #f6f5f0;
}

.search__finder__icon:before {
  width: 4px;
  height: 13px;
  background-color: #f6f5f0;
  top: 50%;
  left: 20px;
  -webkit-transform: rotateZ(45deg) translate(-50%, 0);
          transform: rotateZ(45deg) translate(-50%, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  border-radius: 4px;
}

.active .search__finder__icon:before {
  background-color: #292929;
  width: 6px;
  -webkit-transform: rotateZ(45deg) translate(-50%, 25px);
          transform: rotateZ(45deg) translate(-50%, 25px);
}

.processing .search__finder__icon {
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: spinner 0.3s linear infinite;
          animation: spinner 0.3s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.active .search__finder__icon {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.search__result {
  position: relative;
  top: 5vh;
  background-color: #f6f5f2;
  padding: 4rem 1rem 0;
}

.search__result__typo {
  font-size: 1.5rem;
  line-height: 2rem;
}

.search__result__typo-blue {
  color: #007FA8;
}

.search__result__typo-small {
  font-size: 1rem;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    -webkit-transform: rotateZ(405deg);
            transform: rotateZ(405deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    -webkit-transform: rotateZ(405deg);
            transform: rotateZ(405deg);
  }
}

.model-title {
  background-color: papayawhip;
  width: 8rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin-top: 1.2rem;
  padding: 1.2rem;
}

.box-CarModel {
  margin: 1rem;
}
