@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300|Nanum+Gothic:400,700,800&subset=korean");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#285a91), to(#1f9cfd));
  background: linear-gradient(left, #285a91, #1f9cfd);
  -webkit-background-clip: text;
  -webkit-transition: all .5s;
  transition: all .5s;
}

h1:hover {
  padding-left: 1.5rem;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-big {
  margin-top: 3rem;
}

.swal2-container {
  z-index: 300000 !important;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

main {
  /*
  #section-about {
    background-color: #ededed;
    padding: 7rem 0 6.5rem 6rem;
    width: 66.66666%; // section-etc와 함께 100% 중 분배해서 가짐(그래야 width가 더 커서 아래로 내려가거나 하지 않고 계속 옆으로 보임)
    min-height: 42rem; // min-height는 최소 높이가 42rem이고, 더 커질 수 있다
    float: left;

    @include clearfix(); // float:left 자식 두개(words,photo)의 영역을 확보하기 위해
    // 화면 900~1200px
    @include mq('small-screen-1') {
        // @content;안의 자리에 "{}" 안의 코드가 들어옴
        width: 100%; // 하나하나가 100%를 다 차지해서 아래로 쌓이게 됨
    }
    @include mq('small-screen-2') {
        width: 100%;
        height: 54rem; // section 높이를 보기좋게 높임
        padding: 7rem 6rem 6.5rem 6rem;
    }
    @include mq('small-screen-3') {
        width: 100%;
        height: 60rem;
        padding: 7rem 6rem 6.5rem 6rem;
    }
  }
  */
}

main::after {
  content: '';
  display: block;
  clear: both;
}

.container-fulid {
  background-color: darkgrey;
}

.img-box {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.img-box img {
  width: 200px;
  height: 100%;
}

.imageupload-btn {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  background-color: #c4e3ff;
  width: 5rem;
  height: 4rem;
  position: fixed;
  right: 4rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-bg {
  background-image: radial-gradient(#285a91, #1f9cfd);
  width: 5rem;
  height: 4rem;
  position: fixed;
  right: 4rem;
  z-index: 1000;
  border-radius: 2px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-checkbox:checked ~ .nav-bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav-icon {
  position: relative;
  margin-top: 2rem;
}

.nav-icon::before {
  top: -0.8rem;
}

.nav-icon::after {
  top: 0.8rem;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.nav-button:hover .nav-icon::before {
  top: -1rem;
}

.nav-button:hover .nav-icon::after {
  top: 1rem;
}

.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}

.nav-link:hover {
  color: #285a91;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}
