@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300|Nanum+Gothic:400,700,800&subset=korean");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-big {
  margin-top: 3rem;
}

.swal2-container {
  z-index: 300000 !important;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

main {
  /*
  #section-about {
    background-color: #ededed;
    padding: 7rem 0 6.5rem 6rem;
    width: 66.66666%; // section-etc와 함께 100% 중 분배해서 가짐(그래야 width가 더 커서 아래로 내려가거나 하지 않고 계속 옆으로 보임)
    min-height: 42rem; // min-height는 최소 높이가 42rem이고, 더 커질 수 있다
    float: left;

    @include clearfix(); // float:left 자식 두개(words,photo)의 영역을 확보하기 위해
    // 화면 900~1200px
    @include mq('small-screen-1') {
        // @content;안의 자리에 "{}" 안의 코드가 들어옴
        width: 100%; // 하나하나가 100%를 다 차지해서 아래로 쌓이게 됨
    }
    @include mq('small-screen-2') {
        width: 100%;
        height: 54rem; // section 높이를 보기좋게 높임
        padding: 7rem 6rem 6.5rem 6rem;
    }
    @include mq('small-screen-3') {
        width: 100%;
        height: 60rem;
        padding: 7rem 6rem 6.5rem 6rem;
    }
  }
  */
}

main::after {
  content: '';
  display: block;
  clear: both;
}

.container-fluid {
  margin: 5rem 0;
  background-color: #ececec;
}

.container-fluid__img-box {
  background-color: #284B63;
  text-align: center;
}

.container-fluid__img-box img {
  width: 90%;
  margin: 1.5rem;
}

.container-fluid__add-box {
  height: 55px;
  font-style: italic;
}

.container-fluid__add-box-desc {
  font-size: 10px;
  margin: 1rem;
}

.container-fluid__add-box-login {
  font-weight: 800;
  margin: 1rem;
}

.container-fluid__car-info {
  width: 100%;
  padding: 1rem;
  background-color: #D9D9D9;
  height: 15rem;
}

.container-fluid__car-info th {
  color: #284B63;
  font-weight: 200;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.container-fluid__car-info td > span {
  display: inline-block;
  margin-left: 30px;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}

.box {
  padding: 1rem;
  margin: 4rem 0;
  background-color: #ececec;
}

.box__title {
  color: #284B63;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem;
}

.box__subtitle {
  font-size: 1.9rem;
  margin: 1rem;
}

.newsItem {
  background-color: #D9D9D9;
  padding: 1rem;
  margin: 0.5rem;
}

.newsItem__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.newsItem__desc {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.newsItem__more {
  font-size: 1.5rem;
  display: inline-block;
  color: #474747;
  text-decoration: underline;
}

.card {
  position: relative;
  width: 260px;
  height: 360px;
  padding: 30px;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 3rem auto;
}

.card__title {
  font-size: 20px;
  margin: 1rem 0;
  font-weight: 650;
}

.card__details {
  font-size: 20px;
  position: absolute;
  color: red;
  bottom: 90px;
  left: 30px;
}

.card__buy-button {
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(to right, #4b6cb7, #182848);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  position: absolute;
  width: 290px;
  height: 180px;
  border-radius: 15%;
  right: -34%;
  bottom: -27%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card__buy-button:hover {
  width: 100%;
  right: 0%;
  border-radius: 0%;
}

.card__buy-button:hover__text {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.card__buy-button__text {
  text-shadow: 0 0 0;
  text-decoration: none;
  position: absolute;
  left: 8%;
  top: 17%;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card__buy-button__icon {
  margin-left: 0.5rem;
}

.imageupload-btn {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  background-color: #c4e3ff;
  width: 5rem;
  height: 4rem;
  position: fixed;
  right: 4rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-bg {
  background-image: radial-gradient(#285a91, #1f9cfd);
  width: 5rem;
  height: 4rem;
  position: fixed;
  right: 4rem;
  z-index: 1000;
  border-radius: 2px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-checkbox:checked ~ .nav-bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav-icon {
  position: relative;
  margin-top: 2rem;
}

.nav-icon::before {
  top: -0.8rem;
}

.nav-icon::after {
  top: 0.8rem;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.nav-button:hover .nav-icon::before {
  top: -1rem;
}

.nav-button:hover .nav-icon::after {
  top: 1rem;
}

.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}

.nav-link:hover {
  color: #285a91;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}

.zz-button {
  color: white;
  font-family: inherit;
  font-size: 32px;
  font-weight: bold;
  background-color: #2f8aff;
  width: 250px;
  height: 100px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20% / 50%;
  -webkit-transition: color 750ms ease-in-out, font-size 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), background-color 750ms ease-in-out, width 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), height 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), border-radius 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
  transition: color 750ms ease-in-out, font-size 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), background-color 750ms ease-in-out, width 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), height 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55), border-radius 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
}

.zz-button:after {
  content: '0%';
  font-size: 0;
  display: block;
  -webkit-transition: font-size 750ms ease-in-out;
  transition: font-size 750ms ease-in-out;
}

.zz-button.active {
  font-size: 18px;
  background-color: #085dc9;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.zz-button.active:after {
  font-size: 48px;
}

.zz-button[zz-button-progress='0'] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2f8aff), color-stop(0%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 0%, #085dc9 0%);
}

.zz-button[zz-button-progress='0']:after {
  content: "0%";
}

.zz-button[zz-button-progress='1'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #2f8aff), color-stop(1%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 1%, #085dc9 1%);
}

.zz-button[zz-button-progress='1']:after {
  content: "1%";
}

.zz-button[zz-button-progress='2'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #2f8aff), color-stop(2%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 2%, #085dc9 2%);
}

.zz-button[zz-button-progress='2']:after {
  content: "2%";
}

.zz-button[zz-button-progress='3'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #2f8aff), color-stop(3%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 3%, #085dc9 3%);
}

.zz-button[zz-button-progress='3']:after {
  content: "3%";
}

.zz-button[zz-button-progress='4'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(4%, #2f8aff), color-stop(4%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 4%, #085dc9 4%);
}

.zz-button[zz-button-progress='4']:after {
  content: "4%";
}

.zz-button[zz-button-progress='5'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #2f8aff), color-stop(5%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 5%, #085dc9 5%);
}

.zz-button[zz-button-progress='5']:after {
  content: "5%";
}

.zz-button[zz-button-progress='6'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(6%, #2f8aff), color-stop(6%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 6%, #085dc9 6%);
}

.zz-button[zz-button-progress='6']:after {
  content: "6%";
}

.zz-button[zz-button-progress='7'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7%, #2f8aff), color-stop(7%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 7%, #085dc9 7%);
}

.zz-button[zz-button-progress='7']:after {
  content: "7%";
}

.zz-button[zz-button-progress='8'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(8%, #2f8aff), color-stop(8%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 8%, #085dc9 8%);
}

.zz-button[zz-button-progress='8']:after {
  content: "8%";
}

.zz-button[zz-button-progress='9'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(9%, #2f8aff), color-stop(9%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 9%, #085dc9 9%);
}

.zz-button[zz-button-progress='9']:after {
  content: "9%";
}

.zz-button[zz-button-progress='10'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #2f8aff), color-stop(10%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 10%, #085dc9 10%);
}

.zz-button[zz-button-progress='10']:after {
  content: "10%";
}

.zz-button[zz-button-progress='11'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(11%, #2f8aff), color-stop(11%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 11%, #085dc9 11%);
}

.zz-button[zz-button-progress='11']:after {
  content: "11%";
}

.zz-button[zz-button-progress='12'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #2f8aff), color-stop(12%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 12%, #085dc9 12%);
}

.zz-button[zz-button-progress='12']:after {
  content: "12%";
}

.zz-button[zz-button-progress='13'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #2f8aff), color-stop(13%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 13%, #085dc9 13%);
}

.zz-button[zz-button-progress='13']:after {
  content: "13%";
}

.zz-button[zz-button-progress='14'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(14%, #2f8aff), color-stop(14%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 14%, #085dc9 14%);
}

.zz-button[zz-button-progress='14']:after {
  content: "14%";
}

.zz-button[zz-button-progress='15'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #2f8aff), color-stop(15%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 15%, #085dc9 15%);
}

.zz-button[zz-button-progress='15']:after {
  content: "15%";
}

.zz-button[zz-button-progress='16'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #2f8aff), color-stop(16%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 16%, #085dc9 16%);
}

.zz-button[zz-button-progress='16']:after {
  content: "16%";
}

.zz-button[zz-button-progress='17'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #2f8aff), color-stop(17%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 17%, #085dc9 17%);
}

.zz-button[zz-button-progress='17']:after {
  content: "17%";
}

.zz-button[zz-button-progress='18'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(18%, #2f8aff), color-stop(18%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 18%, #085dc9 18%);
}

.zz-button[zz-button-progress='18']:after {
  content: "18%";
}

.zz-button[zz-button-progress='19'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #2f8aff), color-stop(19%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 19%, #085dc9 19%);
}

.zz-button[zz-button-progress='19']:after {
  content: "19%";
}

.zz-button[zz-button-progress='20'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #2f8aff), color-stop(20%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 20%, #085dc9 20%);
}

.zz-button[zz-button-progress='20']:after {
  content: "20%";
}

.zz-button[zz-button-progress='21'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(21%, #2f8aff), color-stop(21%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 21%, #085dc9 21%);
}

.zz-button[zz-button-progress='21']:after {
  content: "21%";
}

.zz-button[zz-button-progress='22'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(22%, #2f8aff), color-stop(22%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 22%, #085dc9 22%);
}

.zz-button[zz-button-progress='22']:after {
  content: "22%";
}

.zz-button[zz-button-progress='23'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(23%, #2f8aff), color-stop(23%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 23%, #085dc9 23%);
}

.zz-button[zz-button-progress='23']:after {
  content: "23%";
}

.zz-button[zz-button-progress='24'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(24%, #2f8aff), color-stop(24%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 24%, #085dc9 24%);
}

.zz-button[zz-button-progress='24']:after {
  content: "24%";
}

.zz-button[zz-button-progress='25'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #2f8aff), color-stop(25%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 25%, #085dc9 25%);
}

.zz-button[zz-button-progress='25']:after {
  content: "25%";
}

.zz-button[zz-button-progress='26'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(26%, #2f8aff), color-stop(26%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 26%, #085dc9 26%);
}

.zz-button[zz-button-progress='26']:after {
  content: "26%";
}

.zz-button[zz-button-progress='27'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(27%, #2f8aff), color-stop(27%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 27%, #085dc9 27%);
}

.zz-button[zz-button-progress='27']:after {
  content: "27%";
}

.zz-button[zz-button-progress='28'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(28%, #2f8aff), color-stop(28%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 28%, #085dc9 28%);
}

.zz-button[zz-button-progress='28']:after {
  content: "28%";
}

.zz-button[zz-button-progress='29'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(29%, #2f8aff), color-stop(29%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 29%, #085dc9 29%);
}

.zz-button[zz-button-progress='29']:after {
  content: "29%";
}

.zz-button[zz-button-progress='30'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #2f8aff), color-stop(30%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 30%, #085dc9 30%);
}

.zz-button[zz-button-progress='30']:after {
  content: "30%";
}

.zz-button[zz-button-progress='31'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(31%, #2f8aff), color-stop(31%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 31%, #085dc9 31%);
}

.zz-button[zz-button-progress='31']:after {
  content: "31%";
}

.zz-button[zz-button-progress='32'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(32%, #2f8aff), color-stop(32%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 32%, #085dc9 32%);
}

.zz-button[zz-button-progress='32']:after {
  content: "32%";
}

.zz-button[zz-button-progress='33'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(33%, #2f8aff), color-stop(33%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 33%, #085dc9 33%);
}

.zz-button[zz-button-progress='33']:after {
  content: "33%";
}

.zz-button[zz-button-progress='34'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(34%, #2f8aff), color-stop(34%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 34%, #085dc9 34%);
}

.zz-button[zz-button-progress='34']:after {
  content: "34%";
}

.zz-button[zz-button-progress='35'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #2f8aff), color-stop(35%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 35%, #085dc9 35%);
}

.zz-button[zz-button-progress='35']:after {
  content: "35%";
}

.zz-button[zz-button-progress='36'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(36%, #2f8aff), color-stop(36%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 36%, #085dc9 36%);
}

.zz-button[zz-button-progress='36']:after {
  content: "36%";
}

.zz-button[zz-button-progress='37'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(37%, #2f8aff), color-stop(37%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 37%, #085dc9 37%);
}

.zz-button[zz-button-progress='37']:after {
  content: "37%";
}

.zz-button[zz-button-progress='38'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(38%, #2f8aff), color-stop(38%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 38%, #085dc9 38%);
}

.zz-button[zz-button-progress='38']:after {
  content: "38%";
}

.zz-button[zz-button-progress='39'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(39%, #2f8aff), color-stop(39%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 39%, #085dc9 39%);
}

.zz-button[zz-button-progress='39']:after {
  content: "39%";
}

.zz-button[zz-button-progress='40'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #2f8aff), color-stop(40%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 40%, #085dc9 40%);
}

.zz-button[zz-button-progress='40']:after {
  content: "40%";
}

.zz-button[zz-button-progress='41'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(41%, #2f8aff), color-stop(41%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 41%, #085dc9 41%);
}

.zz-button[zz-button-progress='41']:after {
  content: "41%";
}

.zz-button[zz-button-progress='42'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(42%, #2f8aff), color-stop(42%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 42%, #085dc9 42%);
}

.zz-button[zz-button-progress='42']:after {
  content: "42%";
}

.zz-button[zz-button-progress='43'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(43%, #2f8aff), color-stop(43%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 43%, #085dc9 43%);
}

.zz-button[zz-button-progress='43']:after {
  content: "43%";
}

.zz-button[zz-button-progress='44'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(44%, #2f8aff), color-stop(44%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 44%, #085dc9 44%);
}

.zz-button[zz-button-progress='44']:after {
  content: "44%";
}

.zz-button[zz-button-progress='45'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #2f8aff), color-stop(45%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 45%, #085dc9 45%);
}

.zz-button[zz-button-progress='45']:after {
  content: "45%";
}

.zz-button[zz-button-progress='46'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(46%, #2f8aff), color-stop(46%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 46%, #085dc9 46%);
}

.zz-button[zz-button-progress='46']:after {
  content: "46%";
}

.zz-button[zz-button-progress='47'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(47%, #2f8aff), color-stop(47%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 47%, #085dc9 47%);
}

.zz-button[zz-button-progress='47']:after {
  content: "47%";
}

.zz-button[zz-button-progress='48'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(48%, #2f8aff), color-stop(48%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 48%, #085dc9 48%);
}

.zz-button[zz-button-progress='48']:after {
  content: "48%";
}

.zz-button[zz-button-progress='49'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #2f8aff), color-stop(49%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 49%, #085dc9 49%);
}

.zz-button[zz-button-progress='49']:after {
  content: "49%";
}

.zz-button[zz-button-progress='50'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #2f8aff), color-stop(50%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 50%, #085dc9 50%);
}

.zz-button[zz-button-progress='50']:after {
  content: "50%";
}

.zz-button[zz-button-progress='51'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(51%, #2f8aff), color-stop(51%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 51%, #085dc9 51%);
}

.zz-button[zz-button-progress='51']:after {
  content: "51%";
}

.zz-button[zz-button-progress='52'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(52%, #2f8aff), color-stop(52%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 52%, #085dc9 52%);
}

.zz-button[zz-button-progress='52']:after {
  content: "52%";
}

.zz-button[zz-button-progress='53'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(53%, #2f8aff), color-stop(53%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 53%, #085dc9 53%);
}

.zz-button[zz-button-progress='53']:after {
  content: "53%";
}

.zz-button[zz-button-progress='54'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(54%, #2f8aff), color-stop(54%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 54%, #085dc9 54%);
}

.zz-button[zz-button-progress='54']:after {
  content: "54%";
}

.zz-button[zz-button-progress='55'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #2f8aff), color-stop(55%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 55%, #085dc9 55%);
}

.zz-button[zz-button-progress='55']:after {
  content: "55%";
}

.zz-button[zz-button-progress='56'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(56%, #2f8aff), color-stop(56%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 56%, #085dc9 56%);
}

.zz-button[zz-button-progress='56']:after {
  content: "56%";
}

.zz-button[zz-button-progress='57'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(57%, #2f8aff), color-stop(57%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 57%, #085dc9 57%);
}

.zz-button[zz-button-progress='57']:after {
  content: "57%";
}

.zz-button[zz-button-progress='58'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(58%, #2f8aff), color-stop(58%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 58%, #085dc9 58%);
}

.zz-button[zz-button-progress='58']:after {
  content: "58%";
}

.zz-button[zz-button-progress='59'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(59%, #2f8aff), color-stop(59%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 59%, #085dc9 59%);
}

.zz-button[zz-button-progress='59']:after {
  content: "59%";
}

.zz-button[zz-button-progress='60'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #2f8aff), color-stop(60%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 60%, #085dc9 60%);
}

.zz-button[zz-button-progress='60']:after {
  content: "60%";
}

.zz-button[zz-button-progress='61'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(61%, #2f8aff), color-stop(61%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 61%, #085dc9 61%);
}

.zz-button[zz-button-progress='61']:after {
  content: "61%";
}

.zz-button[zz-button-progress='62'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(62%, #2f8aff), color-stop(62%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 62%, #085dc9 62%);
}

.zz-button[zz-button-progress='62']:after {
  content: "62%";
}

.zz-button[zz-button-progress='63'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(63%, #2f8aff), color-stop(63%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 63%, #085dc9 63%);
}

.zz-button[zz-button-progress='63']:after {
  content: "63%";
}

.zz-button[zz-button-progress='64'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(64%, #2f8aff), color-stop(64%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 64%, #085dc9 64%);
}

.zz-button[zz-button-progress='64']:after {
  content: "64%";
}

.zz-button[zz-button-progress='65'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, #2f8aff), color-stop(65%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 65%, #085dc9 65%);
}

.zz-button[zz-button-progress='65']:after {
  content: "65%";
}

.zz-button[zz-button-progress='66'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(66%, #2f8aff), color-stop(66%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 66%, #085dc9 66%);
}

.zz-button[zz-button-progress='66']:after {
  content: "66%";
}

.zz-button[zz-button-progress='67'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(67%, #2f8aff), color-stop(67%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 67%, #085dc9 67%);
}

.zz-button[zz-button-progress='67']:after {
  content: "67%";
}

.zz-button[zz-button-progress='68'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(68%, #2f8aff), color-stop(68%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 68%, #085dc9 68%);
}

.zz-button[zz-button-progress='68']:after {
  content: "68%";
}

.zz-button[zz-button-progress='69'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(69%, #2f8aff), color-stop(69%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 69%, #085dc9 69%);
}

.zz-button[zz-button-progress='69']:after {
  content: "69%";
}

.zz-button[zz-button-progress='70'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #2f8aff), color-stop(70%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 70%, #085dc9 70%);
}

.zz-button[zz-button-progress='70']:after {
  content: "70%";
}

.zz-button[zz-button-progress='71'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(71%, #2f8aff), color-stop(71%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 71%, #085dc9 71%);
}

.zz-button[zz-button-progress='71']:after {
  content: "71%";
}

.zz-button[zz-button-progress='72'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(72%, #2f8aff), color-stop(72%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 72%, #085dc9 72%);
}

.zz-button[zz-button-progress='72']:after {
  content: "72%";
}

.zz-button[zz-button-progress='73'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(73%, #2f8aff), color-stop(73%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 73%, #085dc9 73%);
}

.zz-button[zz-button-progress='73']:after {
  content: "73%";
}

.zz-button[zz-button-progress='74'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(74%, #2f8aff), color-stop(74%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 74%, #085dc9 74%);
}

.zz-button[zz-button-progress='74']:after {
  content: "74%";
}

.zz-button[zz-button-progress='75'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #2f8aff), color-stop(75%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 75%, #085dc9 75%);
}

.zz-button[zz-button-progress='75']:after {
  content: "75%";
}

.zz-button[zz-button-progress='76'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(76%, #2f8aff), color-stop(76%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 76%, #085dc9 76%);
}

.zz-button[zz-button-progress='76']:after {
  content: "76%";
}

.zz-button[zz-button-progress='77'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(77%, #2f8aff), color-stop(77%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 77%, #085dc9 77%);
}

.zz-button[zz-button-progress='77']:after {
  content: "77%";
}

.zz-button[zz-button-progress='78'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(78%, #2f8aff), color-stop(78%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 78%, #085dc9 78%);
}

.zz-button[zz-button-progress='78']:after {
  content: "78%";
}

.zz-button[zz-button-progress='79'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(79%, #2f8aff), color-stop(79%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 79%, #085dc9 79%);
}

.zz-button[zz-button-progress='79']:after {
  content: "79%";
}

.zz-button[zz-button-progress='80'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #2f8aff), color-stop(80%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 80%, #085dc9 80%);
}

.zz-button[zz-button-progress='80']:after {
  content: "80%";
}

.zz-button[zz-button-progress='81'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(81%, #2f8aff), color-stop(81%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 81%, #085dc9 81%);
}

.zz-button[zz-button-progress='81']:after {
  content: "81%";
}

.zz-button[zz-button-progress='82'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(82%, #2f8aff), color-stop(82%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 82%, #085dc9 82%);
}

.zz-button[zz-button-progress='82']:after {
  content: "82%";
}

.zz-button[zz-button-progress='83'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(83%, #2f8aff), color-stop(83%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 83%, #085dc9 83%);
}

.zz-button[zz-button-progress='83']:after {
  content: "83%";
}

.zz-button[zz-button-progress='84'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(84%, #2f8aff), color-stop(84%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 84%, #085dc9 84%);
}

.zz-button[zz-button-progress='84']:after {
  content: "84%";
}

.zz-button[zz-button-progress='85'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(85%, #2f8aff), color-stop(85%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 85%, #085dc9 85%);
}

.zz-button[zz-button-progress='85']:after {
  content: "85%";
}

.zz-button[zz-button-progress='86'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(86%, #2f8aff), color-stop(86%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 86%, #085dc9 86%);
}

.zz-button[zz-button-progress='86']:after {
  content: "86%";
}

.zz-button[zz-button-progress='87'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(87%, #2f8aff), color-stop(87%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 87%, #085dc9 87%);
}

.zz-button[zz-button-progress='87']:after {
  content: "87%";
}

.zz-button[zz-button-progress='88'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(88%, #2f8aff), color-stop(88%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 88%, #085dc9 88%);
}

.zz-button[zz-button-progress='88']:after {
  content: "88%";
}

.zz-button[zz-button-progress='89'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(89%, #2f8aff), color-stop(89%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 89%, #085dc9 89%);
}

.zz-button[zz-button-progress='89']:after {
  content: "89%";
}

.zz-button[zz-button-progress='90'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, #2f8aff), color-stop(90%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 90%, #085dc9 90%);
}

.zz-button[zz-button-progress='90']:after {
  content: "90%";
}

.zz-button[zz-button-progress='91'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(91%, #2f8aff), color-stop(91%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 91%, #085dc9 91%);
}

.zz-button[zz-button-progress='91']:after {
  content: "91%";
}

.zz-button[zz-button-progress='92'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(92%, #2f8aff), color-stop(92%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 92%, #085dc9 92%);
}

.zz-button[zz-button-progress='92']:after {
  content: "92%";
}

.zz-button[zz-button-progress='93'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(93%, #2f8aff), color-stop(93%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 93%, #085dc9 93%);
}

.zz-button[zz-button-progress='93']:after {
  content: "93%";
}

.zz-button[zz-button-progress='94'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(94%, #2f8aff), color-stop(94%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 94%, #085dc9 94%);
}

.zz-button[zz-button-progress='94']:after {
  content: "94%";
}

.zz-button[zz-button-progress='95'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(95%, #2f8aff), color-stop(95%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 95%, #085dc9 95%);
}

.zz-button[zz-button-progress='95']:after {
  content: "95%";
}

.zz-button[zz-button-progress='96'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #2f8aff), color-stop(96%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 96%, #085dc9 96%);
}

.zz-button[zz-button-progress='96']:after {
  content: "96%";
}

.zz-button[zz-button-progress='97'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(97%, #2f8aff), color-stop(97%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 97%, #085dc9 97%);
}

.zz-button[zz-button-progress='97']:after {
  content: "97%";
}

.zz-button[zz-button-progress='98'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(98%, #2f8aff), color-stop(98%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 98%, #085dc9 98%);
}

.zz-button[zz-button-progress='98']:after {
  content: "98%";
}

.zz-button[zz-button-progress='99'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(99%, #2f8aff), color-stop(99%, #085dc9));
  background-image: linear-gradient(to top, #2f8aff 99%, #085dc9 99%);
}

.zz-button[zz-button-progress='99']:after {
  content: "99%";
}

.zz-button[zz-button-progress='100'] {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #2f8aff), to(#085dc9));
  background-image: linear-gradient(to top, #2f8aff 100%, #085dc9 100%);
}

.zz-button[zz-button-progress='100']:after {
  content: "100%";
}

.zz-button[zz-button-progress='100'] {
  -webkit-animation: progress-done-pre 750ms ease-out;
          animation: progress-done-pre 750ms ease-out;
}

@-webkit-keyframes progress-done-pre {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes progress-done-pre {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.zz-button-progress-done {
  color: transparent;
  background-color: #52b500;
  position: relative;
}

.zz-button-progress-done:before {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
}

.zz-button-progress-done.zz-button-progress-done-active:before {
  width: 50px;
  height: 20px;
  border: solid 10px white;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50px;
  left: 100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: progress-done-post 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
          animation: progress-done-post 750ms cubic-bezier(0.7, -0.55, 0.3, 1.55);
}

@-webkit-keyframes progress-done-post {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 20px;
  }
  100% {
    width: 50px;
    height: 20px;
  }
}

@keyframes progress-done-post {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 20px;
  }
  100% {
    width: 50px;
    height: 20px;
  }
}

.chart-container {
  position: relative;
  margin: auto;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .chart-container {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .chart-container {
    width: 100%;
    height: 50vh;
  }
}

@media screen and (max-width: 700px) {
  .chart-container {
    width: 100%;
    height: 60vh;
  }
}

.price__typo {
  color: #284B63;
  font-size: 2.5rem;
  font-weight: bold;
}
