//전체 페이지 설정
.container-fulid {
  background-color: rgb(236, 236, 236);
}

// img div box
.img-box {
  width: 30rem;
  height: 100%;
  background-color: gray;
  text-align: center;

  & img {
    width: 200px;
    height: 100%;
  }

  @media (width: 360px) {
  }

}