.box {
    padding: 1rem;
    margin: 4rem 0;
    background-color:$color-main-grey-2;

    &__title {
        color: $color-main-navy;
        font-weight: 700;
        font-size: 3.2rem;
        margin: 1rem;

        @include mq('small-screen-1') {
            font-size: 3.2rem;
        }

        @include mq('small-screen-2') {
            font-size: 2.7rem;
        }

        @include mq('small-screen-3') {
            font-size: 2.2rem;
        }
    }

    &__subtitle {
        font-size: 2.8rem;
        margin: 1.7rem;

        @include mq('small-screen-1') {
            font-size: 2.8rem;
        }

        @include mq('small-screen-2') {
            font-size: 2.1rem;
        }

        @include mq('small-screen-3') {
            font-size: 1.7rem;
        }
    }


}

.newsItem {
    // background-color: $color-main-grey-1;
    background-color: $color-white;
    padding: 1rem;
    margin: 0.8rem;
    border: 0.1rem solid $color-grey-dark;
    border-radius: 1rem;
    
    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include mq('small-screen-1') {
            font-size: 2.6rem;
        }

        @include mq('small-screen-2') {
            font-size: 1.9rem;
        }

        @include mq('small-screen-3') {
            font-size: 1.5rem;
        }
    }

    &__desc {
        font-size: 1.5rem;
        margin: 1rem 0;
        
        @include mq('small-screen-1') {
            font-size: 2.6rem;
        }

        @include mq('small-screen-2') {
            font-size: 1.9rem;
        }

        @include mq('small-screen-3') {
            font-size: 1.6rem;
        }
    }

    &__more {
        font-size: 1.5rem;
        display: inline-block;
        color: $color-grey-dark;
        text-decoration: underline;
        
        @include mq('small-screen-1') {
            font-size: 2.6rem;
        }

        @include mq('small-screen-2') {
            font-size: 1.9rem;
        }

        @include mq('small-screen-3') {
            font-size: 1.6rem;
        }
    }
}