.carSearch {
  position: relative;
  top:20vh;
 &__descrip {
  font-size: 3rem;
  }
}

.camera-button-div {
  display: flex;
  justify-content: center;
  // align-items: center;
  // height: 50vh;
  margin-top: 5vh;
}

.zz-button {
  color: $base-color;
  font-family: inherit;
  font-size: $default-font-size-label;
  font-weight: bold;
  background-color: $bg-full;
  width: $default-width;
  height: $default-height;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20% / 50%;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: color $animation-time ease-in-out,
    font-size $animation-time $animation-style,
    background-color $animation-time ease-in-out,
    width $animation-time $animation-style,
    height $animation-time $animation-style,
    border-radius $animation-time $animation-style;
  &:after {
  content: '0%';
  font-size: 0;
  display: block;
  transition: font-size $animation-time ease-in-out;
}
  &.active {
    font-size: $active-font-size-label;
    background-color: $bg-empty;
    width: $active-width-height;
    height: $active-width-height;
    border-radius: 50%;
    &:after {
    font-size: $active-font-size-progress;
    }
  }
    &-progress-done {
      color: transparent;
      background-color: $bg-done;
      position: relative;
      &:before {
      content: '';
      width: 0px;
      height: 0px;
      display: block;
    }
  }
  &:hover {
  background: $color-main-navy;
  background: linear-gradient(0deg,  $color-main-navy 0%, $color-secondary 100%);
  }
}


@for $i from 0 through 100 {
  .zz-button[zz-button-progress='#{$i}'] {
    background-image: linear-gradient(to top, $bg-full $i * 1%, $bg-empty $i * 1%);
  }
  
  .zz-button[zz-button-progress='#{$i}']:after {
    content: '#{$i}%';
  }
}

.zz-button[zz-button-progress='100'] {
  animation: progress-done-pre $animation-time ease-out;
}

@keyframes progress-done-pre {
  0%   { transform: scale(1); }
  35%  { transform: scale(1.15); }
  75%  { transform: scale(0.9); }
  90%  { transform: scale(1.05) }
  100% { transform: scale(1); }
}

.zz-button-progress-done.zz-button-progress-done-active:before {
  width: $done-check-width;
  height: $done-check-height;
  border: solid $done-check-thickness $base-color;
  border-top: none;
  border-right: none;
  position: absolute;
  top: ($default-height / 2);
  left: ($default-width / 2) - ($done-check-width / 2);
  transform: rotate(-45deg);
  transform-origin: top left;
  animation: progress-done-post $animation-time $animation-style;
}

@keyframes progress-done-post {
  0%   { width: 0px; height: 0px; }
  50%  { width: 0px; height: $done-check-height; }
  100% { width: $done-check-width; height: $done-check-height; }
}