@import url('https://fonts.googleapis.com/css?family=Lato:100,300|Nanum+Gothic:400,700,800&subset=korean');

// Icon Font
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include mq('small-screen-1') {
        // max-width: 90%;
    }
    @include mq('small-screen-2') {
        
    }
    @include mq('small-screen-3') {
        // width: 90%;
    }
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    font-family: 'Nanum Gothic', sans-serif;
}