.u-margin-right-small {
    margin-right: 1rem; //10px
}

.u-margin-right-medium {
    margin-right: 2rem; // 20px
}

.u-margin-right-big {
    margin-right: 3rem; // 30px
}

.u-margin-top-small {
    margin-top: 1rem; //10px
}

.u-margin-top-medium {
    margin-top: 2rem; // 20px
}

.u-margin-top-big {
    margin-top: 3rem; // 30px
}